<div id="cf-merchants_express_interest_leads_id">

	<div class="cf-merchants_leads_total">
			Number of coupon code generated from <span class="cf-merchants_leads_date"><%=@vendor_subscribed_date%></span> - since listing in CrawlFish <span class="cf-merchants_leads_money"> : <%=@count.to_i%></span>
			<div style="padding-top:15px"></div>
			Total worth of leads from <span class="cf-merchants_leads_date"><%=@vendor_subscribed_date%></span> - since listing in CrawlFish : <span class="cf-merchants_leads_money">Rs.<%=number_with_delimiter(@all_time_price)%></span>
			
			<div style="padding-top:10px;"></div>
			<div style="border-top:1px solid #B00;width:500px"></div>
			<div style="padding-top:10px;"></div>
			
		<% if(@chosen_year.nil?) %>
			Number of coupon code generated during <span class="cf-merchants_leads_date"><%=Date.today.year%></span> : <span class="cf-merchants_leads_money"> <%=@current_count.to_i%></span>
			<div style="padding-top:15px"></div>			
			Total worth of leads during <span class="cf-merchants_leads_date"><%=Date.today.year%></span> : <span class="cf-merchants_leads_money">Rs.<%=number_with_delimiter(@total_price)%></span>

		<% elsif !@chosen_year.nil? && @chosen_month.to_i!=0%>
			Number of coupon code generated during <span class="cf-merchants_leads_date"><%=Date::MONTHNAMES[@chosen_month.to_i]%>, <%=@chosen_year%></span> : <span class="cf-merchants_leads_money"> <%=@current_count.to_i%></span>
			<div style="padding-top:15px"></div>			
			Total worth of leads during <span class="cf-merchants_leads_date"><%=Date::MONTHNAMES[@chosen_month.to_i]%>, <%=@chosen_year%></span> : <span class="cf-merchants_leads_money">Rs.<%=number_with_delimiter(@total_price)%></span>

		<% elsif !@chosen_year.nil?%>
			Number of coupon code generated during <span class="cf-merchants_leads_date"><%=@chosen_year%></span> : <span class="cf-merchants_leads_money"> <%=@current_count.to_i%></span>
			<div style="padding-top:15px"></div>
			Total worth of leads during <span class="cf-merchants_leads_date"><%=@chosen_year%></span> : <span class="cf-merchants_leads_money">Rs.<%=number_with_delimiter(@total_price)%></span>

		<% else %>
			Number of coupon code generated : <span class="cf-merchants_leads_money"> <%=@current_count.to_i%></span>
			<div style="padding-top:15px"></div>
			Total worth of leads : <span class="cf-merchants_leads_money">Rs.<%=number_with_delimiter(@total_price)%></span>
		<% end %>
	</div>
	
	<div style="padding-top:10px;padding-bottom:10px"></div>
<% if !@leads.nil? %>

<div id="cf-merchants_express_interest_leads_paginate">
	<%= will_paginate @leads %>
</div>

<table class="cf-merchant-leads-table" cellpadding=0 cellspacing=0 border=0>
<tr>
		<td class="cf-merchant-leads-table-tr">Product Name</td>
		<td class="cf-merchant-leads-table-tr">Price in Rs</td>
		<td class="cf-merchant-leads-table-tr">Customer Phone Number</td>
		<td class="cf-merchant-leads-table-tr">Enquiry Date</td>
</tr>

	<% if @leads.count > 0 %>
	<% @leads.each do |i| %>

	<tr>
		<td class="cf-merchant-leads-table-td"><%=i.mobile_name%></td>
		<td class="cf-merchant-leads-table-td-price"><%=number_with_delimiter(i.price.to_i)%></td>
		<td class="cf-merchant-leads-table-td-phone"><%=i.mobile_number%></td>
		<td class="cf-merchant-leads-table-td-date"><%=i.created_at.strftime("%d-%m-%Y") %></td>
	</tr>		
	
	<% end %>

	<% else %>

		<tr><td colspan=5 class="cf-merchant-leads-table-td-notfound">No data found</td></tr>
	
	<% end %>

<% end %>

</table>
</div>
<div style="padding-top:10px;padding-bottom:20px"></div>
