<div class="cf-speaktous-right-sidebar-section-social-media">
		<div class="cf-speaktous-right-sidebar-section-social-media-inner">
		<div class="cf-social-media-facebook">
			<a href = "http://www.facebook.com/crawlfish" class="aboutus-link" title="Click here to visit CrawlFish in Facebook" target="_blank">
				<%= image_tag "/Images/facebook.jpg" %>
			</a>
		</div>

		<div class="cf-social-media-twitter">
			<a href = "http://www.twitter.com/thecrawlfish" class="aboutus-link" title="Click here to follow CrawlFish in Twitter" target="_blank">
				<%= image_tag "/Images/twitter.png" %>
			</a>
		</div>

		<div class="cf-social-media-linkedin">
			<a href = "http://www.linkedin.com/company/transinfinity-technologies-private-limited" class="aboutus-link" title="Click here to visit CrawlFish in LinkedIn" target="_blank">
				<%= image_tag "/Images/linkedin.png" %>
			</a>
		</div>

		<div class="cf-social-media-flickr">
			<a href = "http://www.flickr.com/photos/crawlfish" class="aboutus-link" title="Click here to visit CrawlFish in Flickr" target="_blank">
				<%= image_tag "/Images/flickr_2.png" %>
			</a>
		</div>

		<div style="clear:both"></div>
		</div>
</div>

<div class="sidebar-pad"></div>

<div class="cf-speaktous-right-sidebar-section-new">
		<div class="cf-srs-section-new-img">
			<%= image_tag "/Images/Mascots/cf_products_search.jpg" %>
		</div>
		<div class="cf-srs-section-new-text">
            		<span class="sidebar-number">General Queries</span><br/>
                	<span class="sidebar-type">cs@crawlfish.in</span><br/>
			<div style="padding-top:8px;"></div>
			<div style="border:1px solid #999;"></div>
			<div style="padding-bottom:8px;"></div>
			<span class="sidebar-number">Business Related</span><br/>
                	<span class="sidebar-type">business@crawlfish.in</span>
		</div>
		<div style="clear:both"></div>
</div>			

<div class="sidebar-pad"></div>

<div class="cf-speaktous-right-sidebar-section-new">
		<div class="cf-srs-section-new-img">
			<%= image_tag "/Images/Mascots/cf_phone.png" %>
		</div>
		<div class="cf-srs-section-new-text">
            		<span class="sidebar-number">General Queries</span><br/>
                	<span class="sidebar-type">+(91) 9551 400 400</span><br/>
			<div style="padding-top:8px;"></div>
			<div style="border:1px solid #999;"></div>
			<div style="padding-bottom:8px;"></div>
			<span class="sidebar-number">Business Related</span><br/>
                	<span class="sidebar-type">+(91) 9551 70 70 70</span>
		</div>
		<div style="clear:both"></div>
</div>
