<br/>
<div align="center">
<table class="priceTable">
    <tr>
        <td colspan="2">
            <div class="g-text text-b30 gray-box" align="center">
            CrawlFish helps you to know the best price of a product.
            <div class="comments-text" align="center">
            (... and yes, we are so proud of it!)
            </div>
            </div>
        </td>
    </tr>

    <tr>
        <td align="center">
            <%=image_tag "/Images/best-price.jpg" %>
        </td>
        <td width="400px;">
            <span class="g-text text-n16">
            <br/>
            Ok, what is crawlfish?
            </span>
            <br/>
            <br/>
            <span class="gray-text text-n15">
            CrawlFish comes from the latin words Crucio - to torture, Finis - to End, which means, we put an end to the torture that people had to go through to shop any product. It's with these ethics in mind, that CrawlFish was conceived and its business continues to be conducted. Conceptualized and developed as ...
            </span>
            <br/>
            <span class="g-text text-n16">
             No, we were just kidding!
            </span>
            <br/>
            <br/>
            <span class="red-text text-b18">
            CrawlFish helps you to know the best price of a product from online shops and retail shops
            </span>
            <span class="darkgray-text text-n18">
             ... that's all there is to it. Cheers!
            </span>
            <br/>
            <br/>
            <span class="g-text text-n16">
            But still, what is this name, CrawlFish? 
            </span>
            <br/>
            <br/>
            <span class="darkgray-text text-n15">
            Alright.<br/> 
            <span class="red-text">
            Fish 
            </span>
            stands for, fishing for products(shopping). <br/>
            <span class="red-text">
            Crawl
            </span> is short for web crawler.<br/> 
            <br/>

            <span class="g-text text-n16">
            What is a web crawler?
            </span>
            <br/> 
            <br/>
            Oh, you are very curious! Just like creativity, we also love curiosity. Well, if you don't know anything about a web crawler already, seize this opportunity to learn something new today. Yes, it's on <%= link_to "Wikipedia","http://en.wikipedia.org/wiki/Web_crawler",{:target => "_blank", :class => 'g-link-b'} %>
            
            </span> 
        </td>
    </tr>
    <tr class="padT10">
        <td colspan="2">
            <br/>
            <div class="g-text text-b30 gray-box" align="center">
            Thanks to some of the important people.
            <div class="comments-text" align="center">
            (... we really mean it!)
            </div>
            </div>
        </td>
    </tr>
    
    <tr class="padT10" align="center">
        <td>
            <%= image_tag "/Images/dhh.jpg", :size => "150x150" %>
        </td>
        <td align="left" valign="top">
            <div class="text-n25 darkgray-text">
            David Heinemeier Hansson<%= link_to "(who?)",
                            "http://en.wikipedia.org/wiki/David_Heinemeier_Hansson", 
                            {:target => "_blank",:class => 'g-link'} %>
            </div>
            <br/>
            <div class="text-n20 gray-text">
            For creating <span class="red-text">Ruby on Rails</span>
            </div>
            <br/>
            <div class="text-n18 gray-text">
            The whole website is built with the Ruby on Rails framework. It was a pleasure to have chosen this technology. 
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
        <td>
            <%= image_tag "/Images/matz.jpg", :size => "150x150" %>
        </td>
        <td align="left" valign="top">
            <div class="text-n25 darkgray-text">
            Yukihiro Matsumoto<%= link_to "(who?)",
                            "http://en.wikipedia.org/wiki/Yukihiro_Matsumoto", 
                            {:target => "_blank",:class => 'g-link'} %>
            </div>
            <br/>
            <div class="text-n20 gray-text">
            For creating <span class="red-text">Ruby</span>
            </div>
            <br/>
            <div class="text-n18 gray-text">
            At CrawlFish, we extensively used the programmer friendliness of the Ruby programming language, life got very easy.
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
        <td>
            <%= image_tag "/Images/jq.jpg", :size => "150x150" %>
        </td>
        <td align="left" valign="top">
            <div class="text-n25 darkgray-text">
            John Resig<%= link_to "(who?)",
                            "http://en.wikipedia.org/wiki/John_Resig", 
                            {:target => "_blank",:class => 'g-link'} %>
            </div>
            <br/>
            <div class="text-n20 gray-text">
            For creating <span class="red-text">jQuery</span>
            </div>
            <br/>
            <div class="text-n18 gray-text">
            Using jQuery we were able to achieve things more dynamically and deliver a decent user experience. We are grateful.
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
        <td>
            <%= image_tag "/Images/mysql.jpg", :size => "150x150" %>
        </td>
        <td align="left" valign="top">
            <div class="text-n25 darkgray-text">
            Michael Widenius<%= link_to "(who?)",
                            "http://en.wikipedia.org/wiki/Michael_Widenius", 
                            {:target => "_blank",:class => 'g-link'} %>
            </div>
            <br/>
            <div class="text-n20 gray-text">
            For creating <span class="red-text">mysql</span>
            </div>
            <br/>
            <div class="text-n18 gray-text">
            Needless to say anything, the best open source rdbms available on this planet. We have had a great time with it.
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
        <td>
            <%= image_tag "/Images/sph.jpg", :size => "150x150" %>
        </td>
        <td align="left" valign="top">
            <div class="text-n25 darkgray-text">
            Aksyonoff, Andrew<%= link_to "(who?)",
                            "http://en.wikipedia.org/wiki/Sphinx_(search_engine)", 
                            {:target => "_blank",:class => 'g-link'} %>
            </div>
            <br/>
            <div class="text-n20 gray-text">
            For creating <span class="red-text">sphinxsearch</span>
            </div>
            <br/>
            <div class="text-n18 gray-text">
            Search has been a bigger problem for many companies not after the days of sphinxsearch.
            </div>
        </td>
    </tr>
    <tr class="padT10" align="center">
    <td colspan ="2">
      <div class="text-n25">
      More people, more products and more services are to be listed in this section. 
      Wait a minute.. 
      <span class="g-text">Are you creative?  </span>
      <%= link_to "if not, do not click here",
                            "/we-love-creativity", 
                            {:target => "_blank",:class => 'g-link'} %>
      </div>
    </td>  
    </tr>
</table>
</div>

