<script type="text/javascript">


function setFocus_textbox(elementId)
{
    if (!document.getElementById)
    {
        return;
    }

    var searchkey = document.getElementById(elementId).value.replace(/\s/g, "");
    if (searchkey == "")
    {
        document.getElementById(elementId).value = "";
    }

    var txtBox = document.getElementById(elementId);
    var txtLength = document.getElementById(elementId).value.length;

    if (txtBox != null)
    {
        txtBox.focus();
        txtBox.setSelectionRange(txtLength,txtLength);
        txtBox.value = "";
    txtBox.style.border='1px solid #06C';

    }
}

</script>

<% i = @vendor %>
<% @id = @vendor.vendor_id %>

<table class="padL20 padT10">
<tr>
<td valign="top" width="350">
    <div class="border-gray-b">
        <span class="cf-vendor-name">
        <%= i.vendor_alias_name %>
        </span>
        <span class="g-text text-b12">
         - <%= i.branch_alias_name.titleize %>, 
           <span class="gray-text text-n12">
           <%= i.city_name.titleize %>
           </span>
        </span>
        <br/>        
    </div>
    <span class="g-text text-b13">
        <%= @click[@id] %>
        </span> 
        <span class="gray-text text-n11">
        people have visited this page before!
        </span>
        <% @vendor_alias_name = i.vendor_alias_name %>
        <% @branch_alias_name = i.branch_alias_name %>

       <%= render "shared/contact" %>
       
       <div style="clear:both">&nbsp;</div>
        <div id="generate-coupon-code" style="display:">
            <%= link_to "Contact" + " " + i.vendor_alias_name.titleize %>
        </div>
        <div class="gray-text text-n10 padT5">
          Click here, to request <%= i.vendor_alias_name %> <br/>for the best price of any product!
        </div>
        <div class="padT15">

        
        <span class="lightblack-text text-n11">
        <% msg =  @areas.size > 1  ? "Also located in" : "Located only in" %>
        <%= msg %>
        <div class="g-link">
        <% @areas.each do |a| %>
                     <%= form_links(a.branch_name,
                                    "shops-list",
                                    nil,
                                    @country,
                                    @city,
                                    a.branch_name,
                                    @vendor_name) %> <b> &middot; </b>
        <% end %>
        </div>
        </span>                                 

        </div>
</td>
<td valign="top" >
    <div class="text-n11 border-gray-l padL10 gray-button">
      <%= form_rating(1) %>

      <%= form_links("Write a review",
                                    "shops-list",
                                    nil,
                                    @country,
                                    @city,
                                    @area,
                                    @vendor_name,
                                    "reviews") %> or <br/><br/>
                                       <%= form_links("Read user reviews",
                                    "shops-list",
                                    nil,
                                    @country,
                                    @city,
                                    @area,
                                    @vendor_name,
                                    "reviews") %>
    </div>
</td>

</tr>

</table>


