<link rel="canonical" href="http://www.crawlfish.in/" />

<!-- MAIN PANEL - STARTS -->
    <div id="main-panel">
        <!-- LEFT PANEL - STARTS -->
        <div id="left-panel">
            <%= render "shared/tag" %>
            
            <%= render "shared/converse" %>
            
            <%= render "shared/p_products" %>
            
            <%= render "shared/v_12"%>
            
            
            
        </div>
        <!-- LEFT PANEL - ENDS -->
        
        <!-- RIGHT PANEL - STARTS -->
        <div id="right-panel" class="border-gray-l">
        
            <%= render "shared/pop_7"%>
           
            <%= render "shared/hub"%>
            
            <%= render "shared/top"%>            
            
            <%= render "shared/p_p_range"%>
            
            <%= render "shared/o_shops"%>
            
            <%= render "shared/a_wise"%>
            
        </div>
        <div style="clear:both">&nbsp;</div>
        <!-- RIGHT PANEL - ENDS -->
        <%= render "shared/online_bran"%>
        
        <%= render "shared/all_areas"%>

        <%= render "shared/p_range" %>

       
            
    </div>
    <!-- MAIN PANEL - ENDS -->


