<!-- MAIN PANEL - STARTS -->
    <div id="main-panel">
        <!-- LEFT PANEL - STARTS -->
        <div id="left-panel">
            <div class="gray-text text-b25 padT30 padL30">
            No results found! 
            </div>
            <div class="g-text text-b15  padT5 padL30">
            Good news: it's not a big deal! We have plenty of many other products to browse and shop!
            </div>
            <div class="darkgray-text text-n15 padT5 padL30">
                Start from choosing a brand below...
            </div>
            <br/>
            <br/>
            <div class="border-gray-b"></div>
            <br/>
             
             <%= render "shared/online_bran"%>
             <%= render "shared/local_bran"%>
             <%= render "shared/p_range" %>
            
            
        </div>
        <!-- LEFT PANEL - ENDS -->
        
        <!-- RIGHT PANEL - STARTS -->
        <div id="right-panel" class="border-gray-l">
           
            <%= render "shared/hub"%>
            
            <%= render "shared/top"%>            
            
            <%= render "shared/p_p_range"%>
            
            <%= render "shared/o_shops"%>
            
            <%= render "shared/a_wise"%>
            
        </div>
        <div style="clear:both">&nbsp;</div>
        <!-- RIGHT PANEL - ENDS -->

        
        
        
        <%= render "shared/footer" %>
       
            
    </div>
    <!-- MAIN PANEL - ENDS -->
