<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="CrawlFish - CrawlFish Phone Service" />
<meta name="robots" content="noindex" />
<meta name="alexaVerifyID" content="agt3D-roIDhC4m8ZSkYS7nPfiqw" />
<title>CrawlFish - CrawlFish Phone Service - New Customer</title>
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
<%= stylesheet_link_tag    "application" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<link href="/Stylesheets/andgoindexpage.css" rel="stylesheet" type="text/css">
<script type="text/javascript">

function all_validate()
{
	if (validate('customer-name') == false)
	{
		return false;
	}
	else if (validate('customer-phone-no') == false )
	{
		return false;
	}
	else if (validate('customer-email') == false )
	{
		return false;
	}
	else if (validate('customer-city') == false )
	{
		return false;
	}
	else if (validate('customer-area') == false)
	{
		return false;
	}
	else if (validate('enquiry-type') == false)
	{
		return false;
	}
	else if (validate('category-enquired') == false)
	{
		return false;
	}
	else if (validate('product-enquired') == false)
	{
		return false;
	}
	else if (validate('shops-referred')==false)
	{
		return false;
	}
	else if (validate('date') == false)
	{
		return false;
	}
	else if (validate('how_source') == false)
	{
		return false;
	}
	else if (validate('comments') == false)
	{
		return false;
	}
}

function validate(elementId)
{
    var searchkey = document.getElementById(elementId).value.replace(/\s/g, "");
    if (searchkey == "")
    {
        document.getElementById(elementId).value = "";
        setFocus_textbox(elementId);
        return false;
    }
}

function setFocus_textbox(elementId)
{
	if (!document.getElementById)
    {
        return;
    }

    var searchkey = document.getElementById(elementId).value.replace(/\s/g, "");
    if (searchkey == "")
    {
        document.getElementById(elementId).value = "";
    }

    var txtBox = document.getElementById(elementId);
    var txtLength = document.getElementById(elementId).value.length;

    if (txtBox != null)
    {
        txtBox.focus();
        txtBox.setSelectionRange(txtLength,txtLength);
        txtBox.value = "";
	txtBox.style.border='1px solid #06C';
	return false;

    }
}

function setNoFocus_textbox(elementId)
{
	if (!document.getElementById)
    {
        return;
    }

    var txtBox = document.getElementById(elementId);

    if (txtBox != null)
    {
	txtBox.style.border='1px solid #CCC';

    }
}

</script>

</head>

<body>
<div class="cf-andgo-content">

	<div class="cf-andgo-header">
		<div class="cf-andgo-header-logo">
			<%= link_to image_tag("/Images/fcd-bold.png") ,{:controller => 'main',:action => 'index'},:class => 'imgLogo'%>
	 	<!-- end cf-andgo-header-logo --></div>
		<div class="cf-header-links">
		<ul class="cf-general-header-links-ul">
	  			<li><%= link_to "Price Finder",{:controller => 'price_search',:action => 'index'},:id=>'cf-a-general-buy'%></li>
				<li><%= link_to "Home",{:controller => 'main',:action => 'index'},:id=>'cf-a-general-home'%></li>
        	</ul>
	 	<!--end cf-header-links --></div>
		<div style="clear:both"></div>	
	<!-- end cf-andgo-header --></div>

	<div class="cf-andgo-dashboard-content-wrapper">
		
		<div class="cf-andgo-content-header">
			<%= render 'and_go/header' %>
		</div>

		<div style="clear:both"></div>

		<div class="cf-andgo-content-header-button">
			<%= render 'and_go/buttons' %>
		</div>
		
		<div style="clear:both"></div>

		<div class="cf-andgo-middle-content">
		
			<div class="cf-andgo-ps-new-wrapper">
				<div class="cf-andgo-ps-list-customers-wrapper">
					<%= link_to '<< Back', {:controller => 'crawlfish_customer_care',:action => 'index'},:class=>'new-customers-button' %>
				</div>
				<div class="cf-andgo-ps-new-customer-wrapper">
					<%= link_to "List Customers",{:controller => 'list_customers'},:class => 'list-customers-button'%>
				</div>
			</div>

			<div style="clear:both"></div>

			<div class="cf-customer-care-entries-wrapper">
				<div class="cf-customer-care-entries-wrapper-header">
					CrawlFish Customer Care - Edit Entry
				</div>
				<%= render ('crawlfish_customer_care/form') %>
			</div>
		</div>

	<!-- end cf-andgo-content-wrapper --></div>
	<div style="padding-top:50px;clear:both"></div>
	<div class="cf-andgo-footer">
    		<div class="cf-andgo-footer-content">
			<%= render 'shared/footer' %>
        	</div>
     	<!-- end cf-andgo-footer --></div>

<!-- end cf-andgo-content --></div>
</body>
</html>

