<div id="TabbedPanelsLocal1" class="TabbedPanels">

<ul class="TabbedPanelsTabGroup">
	<li class="TabbedPanelsTab" tabindex="0"><span class="local-shop-tab-header">Shop Details</span></li>
	<li class="TabbedPanelsTab" tabindex="0"><span class="local-shop-tab-header">Shop Location</span></li>
</ul>

<div class="TabbedPanelsContentGroup">

	<div class="TabbedPanelsContent">

	<div class="cf-local-shop-tab-vendor-details">
		<% vendor_fields = @vendor %>
		<table class="cf-local-shop-tab-vendor-details-table" cellspacing=0 cellpadding=0 border=0>
		<tr>
		<td class="cf-local-shop-tab-vdt-img">

		 	 <% if vendor_fields.vendor_logo.downcase == "na" %>
		      		<% @logo = "/Images/CF_informationLogoPng_v02.png" %>
				<%= image_tag(@logo,:alt =>vendor_fields.vendor_alias_name,:title => vendor_fields.vendor_alias_name,:class=>'lshp-image-notavl')%>
			<% else %>
			    	<% @logo = vendor_fields.vendor_logo %>
				<%= image_tag(@logo,:alt =>vendor_fields.vendor_alias_name,:title => vendor_fields.vendor_alias_name,:class=>'lshp-image-avl')%>
			<% end %>

			<div class="cf-local-shop-tab-vdt-name">

				<%= vendor_fields.vendor_alias_name.titlecase%>
			</div>
		</td>
		<td class="cf-local-shop-tab-vdt-td">
			<div class="cf-local-shop-tab-vdt-address">
				<% @arr_vendor_address = vendor_fields.vendor_address.split(",") %>
				<% @arr_vendor_address.each do |a| %>
					<%=a.titlecase%>
					<br/>
				<%end%>

				<% @arr_vendor_phone = vendor_fields.vendor_phone.split(",") %>
				
				<% if @arr_vendor_phone.count > 0 %>
					<% @arr_vendor_phone.each_with_index do |value,index| %>
						<table class="cf-lst-vdt-contact" border=0 cellpadding=0 cellspacing=0>
						<tr>
							<td class="td-vendor-common-details">
								<% if index == 0 %>
									<span style="font-weight:bold;color:#C42525">Contact:&nbsp;</span>
								<% else %>
									
								<% end %>
							</td>
							<td><%=value%></td>
						</tr>
						</table>
					<%end%>
				<% else %>
					<table class="cf-lst-vdt-contact" border=0 cellpadding=0 cellspacing=0>
					<tr>
					<td class="td-vendor-common-details">
						<span style="font-weight:bold;color:#C42525">Contact:&nbsp;</span>
					</td>
					<td>
						<% if vendor_fields.vendor_phone.chomp.downcase.gsub(".","")== "na" %>
							Not Available
						<% else %>
							<%=vendor_fields.vendor_phone%>
						<% end %>
					</td>
					</tr>
					</table>
				<%end%>

				<table class="cf-lst-vdt-email" border=0 cellpadding=0 cellspacing=0>
				<tr>
				<td class="td-vendor-common-details">
					<span style="font-weight:bold;color:#C42525">Email:&nbsp;</span> 
				</td>
				<td>
					<% if vendor_fields.vendor_email.chomp.downcase.gsub(".","")== "na" %>
						Not Available
					<% else %>
						<%=vendor_fields.vendor_email%>
					<% end %>
				</td>
				</tr>
				</table>
			
				<table class="cf-lst-vdt-workingtime" border=0 cellpadding=0 cellspacing=0>
				<tr>			
				<td class="td-vendor-common-details">
					<span style="font-weight:bold;color:#C42525">Store Timing:&nbsp;</span> 
				</td>
				<td>
					<% if vendor_fields.working_time.chomp.downcase.gsub(".","")== "na" %>
						Not Available
					<% else %>
						<%=vendor_fields.working_time%>
					<% end %>
				</td>
				</tr>
				</table>
			</div>
		</td>
		</tr>

		<tr>
		<td colspan=2>
			<div style="padding-top:15px"></div>
			<div class="cf-local-shop-tab-vdt-description">
		  		<%= vendor_fields.vendor_description.html_safe %>
			</div>
		</td>
		</tr>

		</table>
	
        </div>
	<!-- end TabbedPanelsContent --></div>



	<div class="TabbedPanelsContent">

		<div class="cf-local-shop-tab-vendor-address-location">

		<div id="gmap">

		</div>

		<div id="gmap-error"><div class="gmap-error-message">Please select a branch!</div></div>

		</div>


	<!-- end TabbedPanelsContent --></div>
<!-- end TabbedPanelsContentGroup --></div>
<!-- end TabbedPanels --></div>

