<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="CrawlFish - An unique price comparison website which compares prices from online portals and retailers from all cities in India. It is also 'first of its kind' location based price search engine in India." />
<meta name="alexaVerifyID" content="agt3D-roIDhC4m8ZSkYS7nPfiqw" />
<meta name="keywords" content="price comparison,online price comparison,price comparison website in india,price of mobiles in india,price of mobiles in chennai,price of books in india,price of books in chennai,crawlfish,location based price search engine,price search engine,Online Shopping,Books,Mobile Phones" />
<title>CrawlFish - Merchant Login - Successful Signup</title>
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
<link href="/Stylesheets/merchantdashboard.css" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag    "application" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882383-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div class="cf-merchant-content">

	<div class="cf-merchant-header">
		<%=render 'merchants/header'%>
	<!-- end cf-merchant-header --></div>

	<div class="cf-merchant-content-wrapper">

		<div class="cf-merchant-success-complete">
			<div class="cf-merchant-success-text">Thanks for signing up with CrawlFish. We are glad to have you as a merchant. We assure you that this will be a rewarding experience! For further queries, contact us at <b>business[at]crawlfish[dot]in</b></div>
			<div style="padding-top:10px;padding-left:5px;padding-right:10px;float:left"><%= link_to "HOME", root_url %></div>
			<div style="padding-top:10px;padding-left:5px;padding-right:10px;float:left"><%= link_to "SIGN IN", {:action => "home", :controller => "merchants"} %></div>
			<div style="clear:both"></div>
		</div>



	<!-- end cf-merchant-content-wrapper --></div>
	<div class="clear-footer"></div>
	<div class="cf-merchant-footer">
    		<div class="cf-merchant-footer-content">
			<%= render 'shared/footer' %>
        	</div>
     	<!-- end cf-merchant-footer --></div>

<!-- end cf-merchant-content --></div>
</body>
</html>

