<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <span style="font-size:14px;font-weight:bold;color:#C42525"><u>CrawlFish</u></span>
    <br/>
    <br/>
    <span style="font-size:13px;font-weight:normal">
    	You have an entry for <b>GENERATE COUPON CODE</b> in <b>crawlfish.in</b> at <i><b><%= Time.new.to_s %></b></i>
    </span>
	<br/>
	<br/>
	<table border=0 cellpadding=7 cellspacing=0>
	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Product name</span>
	</td>
	<td style="border:1px solid #CCC">
		<%if !@gcc_product_name.nil?%>
			<%if @gcc_product_name.size>1%>
				<%=@gcc_product_name.to_s.titlecase%> 
			<%end%>
		<%end%>
	</td>
	</tr>
	
	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Product Identifier</span>
	</td>
	<td style="border:1px solid #CCC">
		<%if !@gcc_product_identifier.nil?%>
			<%if @gcc_product_identifier.size>1%>
				<%= @gcc_product_identifier.to_s%> 
			<% end %>
		<%end%>
	</td>
	</tr>
	
	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Product Price</span>
	</td>
	<td style="border:1px solid #CCC">
		<%if !@gcc_product_price.nil?%>
				Rs. <%= @gcc_product_price.to_i%> 
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Customer Phone Number</span>
	</td>
	
	<td style="border:1px solid #CCC">
		<%if !@gcc_customer_phone_no.nil?%>
			<%if @gcc_customer_phone_no.size>1%>	
				<%=@gcc_customer_phone_no.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Coupon Code</span>
	</td>
	
	<td style="border:1px solid #CCC">
		<%if !@gcc_coupon_code.nil?%>
			<%if @gcc_coupon_code.size>1%>	
				<%=@gcc_coupon_code.to_s.upcase%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor Name</span>
	</td>

	<td style="border:1px solid #CCC"> 
		<%if !@gcc_vendor_name.nil?%>
			<%if @gcc_vendor_name.size>1%>
				<%=@gcc_vendor_name.to_s%>
			<%end%>
		<%end%>
	</td>
	</tr>
	

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor Phone Number</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_vendor_phone_no.nil?%>
			<%if @gcc_vendor_phone_no.size>0%>
				<%=@gcc_vendor_phone_no.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>
		

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor City</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_vendor_city.nil?%>
			<%if @gcc_vendor_city.size>0%>
				<%=@gcc_vendor_city.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor Branch</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_vendor_branch.nil?%>
			<%if @gcc_vendor_branch.size>0%>
				<%=@gcc_vendor_branch.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Customer SMS</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_customer_message.nil?%>
			<%if @gcc_customer_message.size>0%>
				<%=@gcc_customer_message.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Customer SMS Response</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_customer_message_response.nil?%>
			<%if @gcc_customer_message_response.size>0%>
				<%=@gcc_customer_message_response.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Customer SMS Response Code</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_customer_message_response_code.nil?%>
			<%if @gcc_customer_message_response_code.size>0%>
				<%=@gcc_customer_message_response_code.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor SMS</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_vendor_message.nil?%>
			<%if @gcc_vendor_message.size>0%>
				<%=@gcc_vendor_message.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor SMS Response</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_vendor_message_response.nil?%>
			<%if @gcc_vendor_message_response.size>0%>
				<%=@gcc_vendor_message_response.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	<tr>
	<td style="border:1px solid #CCC">
		<span style="font-size:12px;font-weight:bold">Vendor SMS Response Code</span>
	</td>

	<td style="border:1px solid #CCC">
		<%if !@gcc_vendor_message_response_code.nil?%>
			<%if @gcc_vendor_message_response_code.size>0%>
				<%=@gcc_vendor_message_response_code.to_s%> 
			<%end%>
		<%end%>
	</td>
	</tr>

	</table>
  </body>
</html>
