<script type="text/javascript">

function doAction(){
     
      var data = $('form#latest-price-submit').serialize();
      
      $("#loading").css("display","");
      
       $.post('/local/generate_coupon_code',data, function(result){
       
         $("div#latest-price-msg").hide().html(result).fadeIn(3000);
         
         $("#loading").css("display","none");
                       
        });
}

function validateAll(){
    var submitForm=true;
    
    if(!validate('customer_name','Y','A',3,10,'userName-error')){
        return false;
    }
    
    else if(!validate('cc_mobile_number','Y','N',10,10,'mobileNumber-error')){
        return false;
    }
    
    if(submitForm){
        doAction();
    }
    
    return false;
}


</script>
<span class="text-n10 gray-text padT5">
    "Oops! How to go back?", 
    <span class="g-text">Press Esc or Click Close</span>
</span> 
<div id="latest-price-msg" align="center">
<%= form_tag url_for(:controller => "specific", 
                     :action => "latest_price_send"),
                     :id => 'latest-price-submit',:method => 'post',:onsubmit => "return validateAll();"  do %>
                     

     <%= hidden_field_tag 'vendor_id', @vendor_id %>
     <%= hidden_field_tag 'product_id', @product_id %>
     <%= hidden_field_tag 'sub_category_id', @sub_category_id %>
     <%= hidden_field_tag 'product_name', @product_name %>
     <%= hidden_field_tag 'sms', @sms %>
     <%= hidden_field_tag 'unique_id', @unique_id %>
     <%= hidden_field_tag 'vendor_alias_name', @vendor_alias_name %>

                         
    <div class="padT20 padB20">
    <span class="text-b20 g-text">
        It's a very easy 2 step process<br/>
    </span> 
    <span class="text-b17 gray-text">
        to get the latest price of<br/>
    </span> 
    <span class="text-b13 lightblack-text">
        <%= @product_name.titleize %> 
    </span>
    <span class="text-n13 gray-text">
        from 
        <%= @vendor_name.titleize %>
    </span> 
   </div>
    <div id="loading" style="text-align:center;display:none">
            <%= image_tag "/Images/156.gif", :size => "30x30" %>
            <div class="red-text text-n12"> 
            Working really hard to notify the shop ... Please wait ... 
            </div>
        </div>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="priceTable">
        <tr align="center">
            <td align="right" colspan="2" >
                <span class="text-b20 g-text">
                    Step - 1
                </span> 
            </td>         
            <td align="right" class="gray-text text-n15">
            <span class="g-text">Name : </span>
            <%= text_field_tag :customer_name,nil,{:placeholder => "Who is typing?",
                                                   :onblur=>"validate(this.id,
                                                   'Y','AS',3,20,'userName-error');"} %>
                <span class="error-content" id="userName-error"></span>
            </td>
        </tr>
        
        <tr align="center">
           <td align="right" colspan="2">
                <span class="text-b20 g-text">
                    Step - 2
                </span> 
            </td>        
            <td align="right"  class="gray-text text-n12">
            <span class="g-text">Mobile Number(+91) : </span>
            <%= text_field_tag :cc_mobile_number,nil,
                               {:placeholder => ".. and your mobile number?",
                               :onblur=>"validate(this.id,
                               'Y','N',10,10,'mobileNumber-error');"} %>
                <span class="error-content" id="mobileNumber-error"></span>
            </td>
        </tr>   
    </table>   
   <span class="gray-text text-n10 padT5">
    If <%= @vendor_name.titleize %> is not responding, consider writing a review to help people!
  </span><br/>
  
  <%= submit_tag "Send Sms & Request Price" ,:class => "cf-submit" %>  

  
  <p class="comments-text">
    Oh, please don't be uncomfortable!, at CrawlFish, we respect your privacy and your mobile number will be very safe and will never be disclosed to anyone! 
  </p>
<% end %>
</div>



