<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="CrawlFish - Merchant Login, A unique tool for merchants to view their performance in dashboard,view,add,edit and delete items from product catalogue,upload data feeds and review their financials" />
<meta name="alexaVerifyID" content="agt3D-roIDhC4m8ZSkYS7nPfiqw" />
<meta name="keywords" content="price comparison,online price comparison,price comparison website in india,price of mobiles in india,price of mobiles in chennai,price of books in india,price of books in chennai,crawlfish,location based price search engine,price search engine,Online Shopping,Books,Mobile Phones" />

<% if !@meta_merchant_login_title.empty? %>
	<title><%= @meta_merchant_login_title %></title>
<% else %>
	<title>CrawlFish - Merchant Login - Forgot Password</title>
<% end %>
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
<%= stylesheet_link_tag    "application" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<link href="/Stylesheets/merchantdashboard.css" rel="stylesheet" type="text/css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882383-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div class="cf-merchant-content">

	<div class="cf-merchant-header">
		<%=render 'merchants/header'%>
	<!-- end cf-merchant-header --></div>

	<div class="cf-merchant-content-wrapper">

		<div class="cf-merchant-forgot-pwd-complete">
			<div class="cf-merchant-forgot-pwd-header">
				Forgot Password
			</div>
			<%=render 'merchants_sessions/forgot_form' %>
			<div class="cf-merchant-forgot-pwd-message">
				<% if !@message.nil? %>
					<b>Error:</b> <%=@message.html_safe %>
				<% end %>
			</div>
		</div>



	<!-- end cf-merchant-content-wrapper --></div>
	<div class="clear-footer"></div>
	<div class="cf-merchant-footer">
    		<div class="cf-merchant-footer-content">
			<%= render 'shared/footer' %>
        	</div>
     	<!-- end cf-merchant-footer --></div>

<!-- end cf-merchant-content --></div>
</body>
</html>

